<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Symfony 5 - Szkolenie</title>
    <link rel="stylesheet" href="/build/app.css" />

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
</head>

<body id="blog_index">

    <header>
        <div class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header col-md-3 col-lg-2">
                    <a class="navbar-brand" href="/">
                        Szkolenie SF5
                    </a>

                    <button type="button" class="navbar-toggle"
                            data-toggle="collapse"
                            data-target=".navbar-collapse">
                        <span class="sr-only">Przełącz nawigację</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">

                        <li>
                            <a href="/">
                                <i class="fa fa-home" aria-hidden="true"></i> Strona główna
                            </a>
                        </li>
                        <li>
                            <a href="/login">
                                <i class="fa fa-user" aria-hidden="true"></i> Logowanie
                            </a>
                        </li>
                        <li>
                            <a href="/search"> <i class="fa fa-search"></i> Szukajka</a>
                        </li>


                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" id="locales">
                                <i class="fa fa-globe" aria-hidden="true"></i>
                                <span class="caret"></span>
                                <span class="sr-only">Wybierz język</span>
                            </a>
                            <ul class="dropdown-menu locales" role="menu" aria-labelledby="locales">
                                <li aria-checked="false" role="menuitem"><a href="/en/">English <small>en</small></a></li>
                                <li aria-checked="true" class="active" role="menuitem"><a href="/pl/">Polski <small>pl</small></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <div class="container body-container">
        <div class="row">
            <div id="main" class="col-sm-12">

                <div class="messages">
                </div>

                <article class="post">
                    <h2>
                        <a href="/posts/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit">
                            Lorem ipsum dolor sit amet consectetur adipiscing elit
                        </a>
                    </h2>

                    <p class="post-metadata">
                        <span class="metadata"><i class="fa fa-calendar"></i> 5 grudnia 2017 16:36:43</span>
                        <span class="metadata"><i class="fa fa-user"></i> Jane Doe</span>
                    </p>

                    <p>Ut suscipit posuere justo at vulputate. Aliquam sodales odio id eleifend tristique. Potus sensim ad ferox abnoba. Teres talis saepe tractare de camerarius flavum sensorem. Silva de secundus galatae demitto quadra.</p>

                    <p class="post-tags">
                        <a href="/?tag=adipiscing"
                           class="label label-default"
                        >
                            <i class="fa fa-tag"></i> adipiscing
                        </a>
                        <a href="/?tag=consectetur"
                           class="label label-default"
                        >
                            <i class="fa fa-tag"></i> consectetur
                        </a>
                        <a href="/?tag=labore"
                           class="label label-default"
                        >
                            <i class="fa fa-tag"></i> labore
                        </a>
                        <a href="/?tag=voluptate"
                           class="label label-default"
                        >
                            <i class="fa fa-tag"></i> voluptate
                        </a>
                    </p>


                </article>
                <article class="post">
                    <h2>
                        <a href="/posts/pellentesque-vitae-velit-ex">
                            Pellentesque vitae velit ex
                        </a>
                    </h2>

                    <p class="post-metadata">
                        <span class="metadata"><i class="fa fa-calendar"></i> 4 grudnia 2017 16:36:43</span>
                        <span class="metadata"><i class="fa fa-user"></i> Jane Doe</span>
                    </p>

                    <p>Ubi est barbatus nix. Lorem ipsum dolor sit amet consectetur adipiscing elit. Urna nisl sollicitudin id varius orci quam id turpis. Curabitur aliquam euismod dolor non ornare. Bassus fatalis classiss virtualiter transferre de flavum.</p>

                    <p class="post-tags">
                        <a href="/?tag=consectetur"
                           class="label label-default"
                        >
                            <i class="fa fa-tag"></i> consectetur
                        </a>
                        <a href="/?tag=incididunt"
                           class="label label-default"
                        >
                            <i class="fa fa-tag"></i> incididunt
                        </a>
                        <a href="/?tag=lorem"
                           class="label label-default"
                        >
                            <i class="fa fa-tag"></i> lorem
                        </a>
                        <a href="/?tag=voluptate"
                           class="label label-default"
                        >
                            <i class="fa fa-tag"></i> voluptate
                        </a>
                    </p>


                </article>

                <div class="navigation text-center">
                    <ul class="pagination">
                        <li class="prev disabled"><span><i class="fa fw fa-arrow-left"></i> Poprzednia</span></li>

                        <li class="active"><span>1 <span class="sr-only">(current)</span></span></li>
                        <li><a href="/page/2">2</a></li>
                        <li><a href="/page/3">3</a></li>

                        <li class="next"><a href="/page/2" rel="next">Następna <i class="fa fw fa-arrow-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div id="footer-copyright" class="col-md-6">
                    <p>&copy; 2021 - The Symfony Project</p>
                    <p>Licencja MIT</p>
                </div>
                <div id="footer-resources" class="col-md-6">
                    <p>
                        <a href="https://twitter.com/symfony" title="Symfony Twitter">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                        <a href="https://www.facebook.com/SensioLabs" title="SensioLabs Facebook">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a href="https://symfony.com/blog/" title="Symfony Blog">
                            <i class="fa fa-rss" aria-hidden="true"></i>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <script src="/build/runtime.js"></script>
    <script src="/build/0.js"></script>
    <script src="/build/1.js"></script>
    <script src="/build/app.js"></script>
    </body>
</html>
